body,html {
  height: 100%;
  margin:0;
}

/* Navbar container */
.navbar {

  position: fixed;
  top: 0;
  left:0;
  overflow: auto;
  background-color: #21A0E3;
  font-family: Arial;
  width: 100%;
  height: 80px;
  z-index: 10;
}

/* Links inside the navbar */
/*.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  /*padding: 14px 16px;*/
  /*display: block;
  text-decoration: none;
}*/
.logo {
  float: left;
  overflow: hidden;
  font-size: 16px;

  color: white;
  text-align: center;
  text-decoration: none;
  width: 33.33%;
  height: 100%;
}
.logo img {
  width: 17%; /* THIS CHANGES WITH THE LOGO */
  height: 100%;
}
/* The dropdown container */
.dropdown-team, .dropdown-project,.dropdown-results, .dropdown-parts, .dropdown-human, .dropdown-awards {
  float: left;
  overflow: auto;
  width: 11.11%;
  font-family: 'Trebuchet MS';
}

/* Dropdown button */
.dropdown-project .dropbtn, .dropdown-team .dropbtn, .dropdown-results .dropbtn, .dropdown-parts .dropbtn, .dropdown-human .dropbtn, .dropdown-awards .dropbtn {
  font-size: 16px; 
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
  height: 80px;
  width: 100%;
}


/* Add a red background color to navbar links on hover */
.dropdown-project:hover .dropbtn, .dropdown-team:hover .dropbtn, .dropdown-results:hover .dropbtn, .dropdown-parts:hover .dropbtn, .dropdown-human:hover .dropbtn, .dropdown-awards:hover .dropbtn {
  background-color: red;
}
/* Show the dropdown menu on hover */
.dropdown-project:hover .dropdown-content, .dropdown-team:hover .dropdown-content,.dropdown-results:hover .dropdown-content, .dropdown-parts:hover .dropdown-content, .dropdown-human:hover .dropdown-content, .dropdown-awards:hover .dropdown-content {
  display: block;
}
/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: fixed;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  /*z-index: 1;*/
  width: 11.11%;
}

/* Links inside the dropdown */
.dropdown-content a {
  font-family: 'Trebuchet MS';
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}
/* END OF NAVBAR STYLING*/

/* STYLE PICTURE AT THE TOP */

.top-picture {
  /* The image used */
  background-image: url("awkwardharold.jpg");
  z-index: -11;
  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


/* END OF STYLE PICTURE AT THE TOP */

/* STYLE OF HORIZONTAL SCROLL INDICATOR PROGRESS BAR */
progress {
  /* Positioning */
  position: fixed;
  left: 0;
  top: 80px;

  /* Dimensions */
  width: 100%;
  height: 10px;

  /* Reset the appearance */
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;

  /* Get rid of the default border in Firefox/Opera. */
  border: none;

  /* Progress bar container for Firefox/IE10+ */
  background-color: transparent;

  /* Progress bar value for IE10+ */
  color: blue;
}



















